html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1rem;
    font-size: 62.5%;
}

/*.next--page {
    position: absolute;
    top: 49%;
    left: 90%;
}*/

.nav {
    display: flex;
    justify-content: space-evenly;
}

body{
    font-size: 1.6rem;
}

h1, h2, h3 {
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    font-size: 4.768rem;
}

h2 {
    font-size: 3.815rem;
}

p, ul, ol {
    margin-top: 0.4rem;
} 

img{  
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 60vw;
    height: auto;
    box-shadow: 0 0 10px grey;

}

.recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

li{
    max-width: 50vw;
    line-height: 1.5;
}

.stepsList li:not(:first-child) {
    margin-top: 1rem;
}


